.btn {
  height: 42px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font: 700 var(--main-text);
  color: #fff;
  cursor: pointer;
  transition: border 0.125s ease;
}

.restart-btn {
  width: 130px;
  padding: 14px 10px 14px 32px;
  background: linear-gradient(180deg, #434854 0%, #9e9e9e 100%);
  position: relative;
  opacity: 0;
  pointer-events: none;
}

.show {
  pointer-events: all;
  animation: show 0.75s forwards;
}

.restart-btn::before {
  content: "";
  width: 12px;
  height: 12px;
  display: block;
  background: url("../../../Assets/Images/refresh.svg") no-repeat;
  position: absolute;
  top: 35%;
  left: 10%;
}

.submit-btn {
  width: 70px;
  background: linear-gradient(180deg, #ef6c00 0%, #c0661c 100%);
}

.submit-btn:disabled {
  background: var(--disabled);
  cursor: not-allowed;
}

@media (min-width: 768px) {
  .restart-btn {
    align-self: flex-start;
  }
}
