.status-container {
  display: flex;
  align-self: center;
  justify-content: center;
  transform: translateY(-20px);
  height: 20px;
  margin-top: 5rem;
}

.status-message {
  font: 700 1rem var(--heading-text), sans-serif;
  letter-spacing: -1px;
  max-width: 20ch;
  text-align: center;
  color: var(--guess-status);
}

.correct {
  color: var(--number-correct);
}

.error {
  text-transform: uppercase;
  color: var(--number-error);
}

@media (min-width: 768px) {
  .status-container {
    margin-top: 1.25rem;
  }
}
