.guess-input {
  background-color: #fff;
  width: 217px;
  height: 42px;
  padding: 14px 12px;
  border: 1px solid var(--details);
  border-radius: 4px;
  transition: border 0.25s ease;
}

.guess-input:focus {
  border-color: var(--guess-status);
}

.guess-input::placeholder {
  color: var(--placeholder);
  font: 400 var(--main-text), sans-serif;
}

.guess-input:disabled {
  background-color: var(--placeholder-disabled);
}
